@charset "UTF-8";

/*
   Paleta de cores
   Verde: #49a09d
   Lilas: #5f2c82
*/

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body, html{
    background-color: #2f2238;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    overflow: hidden;
}

section#login > div#img{
   display: block;
   background: #5f2c82 url(../imagens/pexels-emanuele-ronzani-2155625755-33947745.jpg) no-repeat;
   background-size: cover;
   background-position: top;
   height: 250px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}